[user]
	name = Peter Müller
	email = munter@fumle.dk
[color]
	branch = always
	diff = always
	grep = always
	interactive = always
	pager = true
	showbranch = always
	status = always
	ui = always
[apply]
    whitespace = warn
[branch]
	autosetupmerge =  true
	autosetuprebase = always
[push]
	default = tracking
[fetch]
	recurseSubmodules = true
[log]
	decorate = short
[alias]
	dc = diff --cached
	df = diff --word-diff
	co = checkout
	cp = cherry-pick
	st = status
	br = branch -a
	lg = log --graph --pretty=medium --abbrev-commit --date=local
	lgb = log --graph --pretty=medium --abbrev-commit --date=local --branches --all
	lol = log --graph --oneline
	lola = log --graph --oneline --all

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard